body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #212121;
  margin: 0;
}
:root {
  --main-color: #212121;
  --second-color: #757575;
  --hover-color: #2196f3;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.section {
  padding: 94px 0;
}

.page-header {
  display: flex;
  align-items: center;
  height: 80px;
}

.logo {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-blue {
  color: #2196f3;
}

.logo-black {
  color: #000000;
}

.logo-white {
  color: #ffffff;
}

.nav {
  margin: 0 auto 0 50px;
}

.menu {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

.link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  margin-left: 46px;
  transition-property: color;
}

.link:hover,
.link:focus,
.link:active {
  color: var(--hover-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-color {
  color: var(--second-color);
}

.title-1 {
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 50%
    ),
    url("../images/background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2f303a;
  max-width: 1600px;
  margin: 0 auto;
}

.title {
  font-family: "roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 106px;
}

.button1 {
  display: flex;
  margin: auto;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  border: none;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
  padding: 10px 41px 10px 42px;
  margin-bottom: 106px;
}

.button1:hover,
.button1:focus,
.button1:active {
  cursor: pointer;
}

.cards-item {
  display: flex;
  flex-basis: 270px;
  column-gap: 30px;
}

.icon {
  background-color: #f5f4fa;
  border-radius: 4px;
  display: block;
  padding: 25px 100px;
}

.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  margin: 30px 0 10px;
}

.description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
  margin: 0;
}

.subtitle-second-1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 50px;
  margin-top: 94px;
}

.team-section {
  background: #f5f4fa;
}

.subtitle-second-2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 50px;
  margin-top: 0;
}

.images {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.label {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  width: 370px;
  padding: 27px 90px;
  margin: 0;
  top: 224px;
}

.images-2 {
  display: flex;
  justify-content: space-between;
}

.team-cards {
  margin: 0;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-cards-description {
  padding: 16px 32px 18px;
}

.member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  padding-bottom: 10px;
}

.position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.portfolio-header {
  height: 80px;
  border-bottom: 1px solid #ececec;
}

.list-portfolio {
  list-style-type: none;
  margin: 0 auto 34px;
}

.button3 {
  display: flex;
  justify-content: center;
}

.button2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  cursor: pointer;
  width: 114px;
  height: 38px;
  background: #f5f4fa;
  border-radius: 4px;
  border-style: none;
  margin-right: 8px;
  transition-property: background-color;
}

.button2:hover,
.button2:focus,
.button2:active {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list-item {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  flex-basis: calc ((100%-90px)/3);
}

.no-gap {
  display: block;
}

.card {
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px;
}

.photo-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
  margin-top: 0;
  margin-bottom: 0;
}

.photo-subtitle {
  font-size: 16px;
  line-height: 1.85;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.address {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.list {
  list-style-type: none;
  padding-left: 0;
  padding-top: 20px;
  margin: 0;
}
.info-footer {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff99;
  padding-top: 9px;
}

.icons-clients {
  display: flex;
  justify-content: space-between;
}
.clients-svg {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 15px 31px;
  fill: #afb1b8;
  transition-property: background-color;
}

.clients-svg:hover,
.clients-svg:focus {
  border: 1px solid var(--hover-color);
  cursor: pointer;
  fill: var(--hover-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-cards {
  transition-property: box-shadow;
}
.portfolio-cards:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-icons {
  fill: var(--second-color);
  transition-property: fill;
}

.nav-icons:hover,
.nav-icons:active,
.nav-icons:focus {
  fill: var(--hover-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-so-me {
  font-family: "roboto";
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

.footer-page {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.footer-social-links {
  margin-left: 70px;
}

.footer-icons {
  width: 44px;
  height: 44px;
  padding: 12px;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: #ffffff;
  transition-property: background-color;
}

.footer-icons:hover,
.footer-icons:focus,
.footer-icons:active {
  background-color: var(--hover-color);
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-icons {
  display: flex;
  padding-left: 0;
  list-style: none;
  margin-top: 20px;
}

.team-so-me-icons {
  width: 44px;
  height: 44px;
  padding: 12px;
  fill: #afb1b8;
  list-style: none;
  transition-property: background-color;
}

.team-so-me-links {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 16px 0 0 0;
}

.team-so-me-icons:hover,
.team-so-me-icons:focus,
.team-so-me-icons:active {
  border-radius: 50%;
  background-color: var(--hover-color);
  fill: #ffffff;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transform: translate(12px, 50%);
}

.modal {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 9999;
  opacity: 1;
  transition: transform 500ms ease-in-out;
}

.window {
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
}

.close-button {
  width: 30px;
  height: 30px;
  padding: 6px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}

.underline-1::after {
  display: block;
  content: "";
  width: 53px;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  margin-left: 46px;
  position: relative;
  top: 29px;
}

.underline-2::after {
  display: block;
  content: "";
  width: 58px;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  margin-left: 46px;
  position: relative;
  top: 29px;
}

.box {
  width: 370px;
  height: 294px;
  position: relative;
  overflow: hidden;
}

.overlay {
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.2, 0, 0.2, 1);
}

.box:hover .overlay {
  transform: translateY(-100%);
}

.cards-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 49px 45px 49px 24px;
}
